<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification API</title>
    <script src="assets/js/index.js"></script>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2015/12/16/17/41/bell-1096280_1280.png">
</head>
<body>
    <h1>PAGE NOT FOUND</h1>
    <h3 onclick="goTo('/')"> > Home Page </h3>
</body>
</html>